<% title "Log in" %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<% form_for @user_session do |f| %>
	<%= f.error_messages :header_message => 'Please try again!' %>
  <p>
		<%= f.label :username, "User name or email" %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Log in" %></p>
<% end %>
